@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

.logo-font {
    font-family: "Leckerli One", cursive;
    background: linear-gradient(180deg, #BCA6FD 0%, #886CDD 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-size: 50px;
}