@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.secondary-font {
    font-family: "Orbitron", sans-serif;
}

.primary-font {
    font-family: "Roboto", sans-serif;
}

.subtitle {
    -webkit-text-stroke-width: 0.76px;
    -webkit-text-stroke-color: rgba(136, 108, 221, 0.76);
    font-family: Orbitron;
    font-size: 37.456px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.435px;
    background: linear-gradient(90deg, #886CDD 0%, #A289ED 24.92%, #BCA6FD 49.83%, #A289ED 78.08%, #886CDD 96.62%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}